boto3
fastapi
langchain
langchain-community
langchain-text-splitters
langchain-openai
numpy
pydantic
pydantic-settings
pyTigerGraph
pypdf
python-dotenv
python-multipart
requests
sentence-transformers
tqdm
typer
uvicorn[standard]
